# Gems that are not necessary, but might be useful or a personal preference.
# They won't go into the git repo, so fill yer boots! Rename to Gemfile.local.

group :development do
  gem 'rubycritic'
  gem 'simplecov'
  gem 'guard'
  gem 'guard-rspec', require: false
  gem 'pry'
  gem 'pry-byebug'
  gem 'byebug'
  gem 'fasterer'

  # I generally already have these gem installed
  # gem 'rubocop'
  # gem 'rubocop-rspec', require: false
  # gem 'rubocop-rspec-performance', require: false
  # gem 'rubocop-require_tools', require: false
  # gem 'rubocop-rake', require: false
  # gem 'rubocop-i18n', require: false
end
